---
-
  name: Install Web Site on Target Computer
  hosts: map_compiler_machine
  remote_user: jenkins
  tasks:
      file: "path=/home/jenkins/website_dist state=directory mode=0755"
      name: "Create target directory to contain the build"
      copy:
        dest: /home/jenkins/website_latest
        src: ./../../website/dist/*
      name: "Copying build to target machine"
      args:
        executable: /bin/bash
      name: "Unpack target build on target machine"
      shell: |
          cd /home/jenkins/website_latest
          pip install *.tar.gz
