---
- hosts: map_compiler_machine
- remote_user: jenkins
- tasks:
  - name: Create target directory to contain the build
    file: path=/home/jenkins/website_dist state=directory mode=0755
  - name: Copying build to target machine
    copy: {dest: /home/jenkins/website_latest, src: ./../../website/dist/*}
  - name: Unpack target build on target machine
    shell: | 
    cd /home/jenkins/website_latest
    pip install *.tar.gz 
    args:
      executable: /bin/bash


    

