- apt: name={{ item }} state=present
  name: Install base packages
  tags: [packages]
  with_items: [python3-pip, python-pip]
  #- name: Upgrade pip
  #  pip: name=pip state=latest
  #  args:
  #  executable: pip-3.3
  #tags: [packages]
- name: Create user
  user: {comment: Used to deploy Django, name: ci_operator, state: present}
- file: {mode: 493, path: /home/ci_operator/.ssh/, state: directory}
  name: Create .ssh folder
- name: Create target directory for Django
  file: path=/home/ci_operator/python-deps state=directory mode=0755
- copy: {dest: /home/ci_operator/python-deps, src: ./roles/files/django/requirements.txt}
  name: Copy webserver requirement files for python installation
- name: Installing Django from requirements file
  pip: {requirements: '/home/ci_operator/python-deps/requirements.txt'}
