- apt: name={{ item }} state=present
  name: Install base packages
  tags: [packages]
  with_items: [python3-pip]
- name: Upgrade pip
  pip: name=pip3 state=latest
  executable: pip-3.3
  tags: [packages]
- name: Create user
  user: {comment: Used to deploy Django, name: ci_operator, state: present}
- file: {mode: 493, path: /home/ci_operator/.ssh/, state: directory}
  name: Create .ssh folder
- copy: {dest: home/ci_operator/requirements.txt, src: ./roles/files/django/requirements.txt}
  name: Copy django requirement files
- name: Installing Django from requirements file
  pip: {executable: pip-3.3, requirements: home/ci_operator/requirements.txt}
